<?xml version="1.0" ?>
<model>
    <name>dock</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    
    <author>
        <name>Hadrien Roy</name>
        <email>hadrienroy@gmail.com</email>
    </author>
    
    <description>
        This is a pseudo dock for a Turtlebot 3.
    </description>
</model>
